# Restic Credentials
RESTIC_PASSWORD="{{ restic_password }}"

# Restic Repository
RESTIC_REPOSITORY=rclone:backup:restic_backup
RESTIC_TAG=cluster_backup

# Restic Backup Options
PATH_TO_BACKUP_LIST=/etc/restic/backup_list
PATH_TO_EXCLUDE_LIST=/etc/restic/exclude_list

DEBUG_LOG=/var/log/restic.log
