[Unit]
Description=This unit will start after internet connection
After=network.target
Wants=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/rclone --config /etc/rclone.conf mount --allow-other --vfs-cache-mode full --vfs-cache-max-size 2GB --log-file /var/log/rclone/cryptdrive.log cryptdrive: /mnt/cryptdrive
Restart=on-failure
RestartSec=15
TimeoutStartSec=10

[Install]
WantedBy=multi-user.target